<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boom_baozha01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{70,64}</string>
                <key>spriteSourceSize</key>
                <string>{160,148}</string>
                <key>textureRect</key>
                <string>{{1,317},{70,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boom_baozha02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{118,108}</string>
                <key>spriteSourceSize</key>
                <string>{160,148}</string>
                <key>textureRect</key>
                <string>{{289,291},{118,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom_baozha03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{148,144}</string>
                <key>spriteSourceSize</key>
                <string>{160,148}</string>
                <key>textureRect</key>
                <string>{{291,1},{148,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom_baozha04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{156,144}</string>
                <key>spriteSourceSize</key>
                <string>{160,148}</string>
                <key>textureRect</key>
                <string>{{1,1},{156,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boom_baozha05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{154,142}</string>
                <key>spriteSourceSize</key>
                <string>{160,148}</string>
                <key>textureRect</key>
                <string>{{145,159},{154,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boom_baozha06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{156,142}</string>
                <key>spriteSourceSize</key>
                <string>{160,148}</string>
                <key>textureRect</key>
                <string>{{1,159},{156,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boom_baozha07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{150,142}</string>
                <key>spriteSourceSize</key>
                <string>{160,148}</string>
                <key>textureRect</key>
                <string>{{147,1},{150,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boom_baozha08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,3}</string>
                <key>spriteSize</key>
                <string>{144,142}</string>
                <key>spriteSourceSize</key>
                <string>{160,148}</string>
                <key>textureRect</key>
                <string>{{291,147},{144,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boom.png</string>
            <key>size</key>
            <string>{440,400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:def86f2949b30a4ceee87ddd96e75e08:2a485ab2e9c24ed66aca9e599ecac39a:c7959a2c2b0200a771aebd49497ea089$</string>
            <key>textureFileName</key>
            <string>boom.png</string>
        </dict>
    </dict>
</plist>
