<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_left_jump001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{132,220}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{461,519},{132,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_left_jump002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{128,218}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{677,129},{128,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_left_jump003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-16}</string>
                <key>spriteSize</key>
                <string>{136,208}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{1807,259},{136,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_left_jump004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{128,218}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{677,129},{128,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_left_jump005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{132,220}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{461,519},{132,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_left_jump006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{136,220}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{905,519},{136,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_left_jump007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{136,220}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{905,519},{136,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_left_jump008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{136,220}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{905,519},{136,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_left_jump009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{138,220}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{1349,521},{138,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_left_jump010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{138,220}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{1349,521},{138,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_left_jump011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{138,220}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{1349,521},{138,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_left_walk001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-10}</string>
                <key>spriteSize</key>
                <string>{124,220}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{124,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_left_walk002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-9}</string>
                <key>spriteSize</key>
                <string>{126,222}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{889,1},{126,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_left_walk003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-8}</string>
                <key>spriteSize</key>
                <string>{126,224}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{1113,1},{126,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_left_walk004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{128,226}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{897,129},{128,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_left_walk005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{130,228}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{1347,389},{130,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_left_walk006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{128,226}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{1125,129},{128,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_left_walk007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-8}</string>
                <key>spriteSize</key>
                <string>{128,224}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{1353,129},{128,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_left_walk008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-10}</string>
                <key>spriteSize</key>
                <string>{128,220}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{1579,129},{128,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_left_walk009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-11}</string>
                <key>spriteSize</key>
                <string>{128,218}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{1801,129},{128,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_left_walk010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-10}</string>
                <key>spriteSize</key>
                <string>{128,220}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{1,255},{128,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_left_walk011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-8}</string>
                <key>spriteSize</key>
                <string>{128,224}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{223,255},{128,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_left_walk012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{128,226}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{449,255},{128,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_left_walk013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{130,228}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{1577,389},{130,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_left_walk014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{128,226}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{677,259},{128,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_left_walk015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-8}</string>
                <key>spriteSize</key>
                <string>{126,224}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{1339,1},{126,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_left_walk016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-9}</string>
                <key>spriteSize</key>
                <string>{126,222}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{1565,1},{126,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_left_walk017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-10}</string>
                <key>spriteSize</key>
                <string>{124,220}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{223,1},{124,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_right_jump001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{132,220}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{683,519},{132,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_right_jump002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{128,218}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{905,259},{128,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_right_jump003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-16}</string>
                <key>spriteSize</key>
                <string>{136,208}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{1807,397},{136,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_right_jump004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{128,218}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{905,259},{128,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_right_jump005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{132,220}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{683,519},{132,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_right_jump006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{136,220}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{1127,521},{136,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_right_jump007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{136,220}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{1127,521},{136,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_right_jump008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{136,220}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{1127,521},{136,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_right_jump009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{138,220}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{1571,521},{138,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_right_jump010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{138,220}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{1571,521},{138,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_right_jump011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{138,220}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{1571,521},{138,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_right_walk001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-10}</string>
                <key>spriteSize</key>
                <string>{124,220}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{445,1},{124,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_right_walk002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{126,222}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{1789,1},{126,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_right_walk003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-8}</string>
                <key>spriteSize</key>
                <string>{126,224}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{1,127},{126,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_right_walk004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{128,226}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{1125,259},{128,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_right_walk005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{130,228}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{1,515},{130,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_right_walk006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-7}</string>
                <key>spriteSize</key>
                <string>{128,226}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{1353,259},{128,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_right_walk007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-8}</string>
                <key>spriteSize</key>
                <string>{128,224}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{1581,259},{128,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_right_walk008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-10}</string>
                <key>spriteSize</key>
                <string>{128,220}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{1,385},{128,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_right_walk009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-11}</string>
                <key>spriteSize</key>
                <string>{128,218}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{223,385},{128,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_right_walk010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-10}</string>
                <key>spriteSize</key>
                <string>{128,220}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{443,385},{128,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_right_walk011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-8}</string>
                <key>spriteSize</key>
                <string>{128,224}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{665,389},{128,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_right_walk012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-7}</string>
                <key>spriteSize</key>
                <string>{128,226}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{891,389},{128,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_right_walk013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{130,228}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{231,515},{130,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_right_walk014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{128,226}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{1119,389},{128,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_right_walk015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-8}</string>
                <key>spriteSize</key>
                <string>{126,224}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{227,127},{126,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_right_walk016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{126,222}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{453,127},{126,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_right_walk017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-10}</string>
                <key>spriteSize</key>
                <string>{124,220}</string>
                <key>spriteSourceSize</key>
                <string>{138,240}</string>
                <key>textureRect</key>
                <string>{{667,1},{124,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player01.png</string>
            <key>size</key>
            <string>{2020,660}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb0a281d1667ee7e6da1dcd7e3cf04b9:ca19eef9282d3720f66487c07c737d45:0dda5bf955113b1478741c53cd10ce32$</string>
            <key>textureFileName</key>
            <string>player01.png</string>
        </dict>
    </dict>
</plist>
