<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>audio_play_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,130}</string>
                <key>spriteSourceSize</key>
                <string>{129,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{129,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>audio_stop_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,130}</string>
                <key>spriteSourceSize</key>
                <string>{129,130}</string>
                <key>textureRect</key>
                <string>{{132,1},{129,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>audio.png</string>
            <key>size</key>
            <string>{262,132}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adb29b5c1d830d81780d6922aee12f63:6e5c85eceec7bfa8d85f2400551d416f:a9137b027e38bd7bc38d052d3c8b9769$</string>
            <key>textureFileName</key>
            <string>audio.png</string>
        </dict>
    </dict>
</plist>
