<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hammer_hit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,236}}</string>
                <key>offset</key>
                <string>{75,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,33},{134,236}}</string>
                <key>sourceSize</key>
                <string>{366,298}</string>
            </dict>
            <key>hammer_hit02.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{170,208}}</string>
                <key>offset</key>
                <string>{-16,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,65},{170,208}}</string>
                <key>sourceSize</key>
                <string>{366,298}</string>
            </dict>
            <key>hammer_hit03.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{230,136}}</string>
                <key>offset</key>
                <string>{-50,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,154},{230,136}}</string>
                <key>sourceSize</key>
                <string>{366,298}</string>
            </dict>
            <key>hammer_stop01.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{170,208}}</string>
                <key>offset</key>
                <string>{-16,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,65},{170,208}}</string>
                <key>sourceSize</key>
                <string>{366,298}</string>
            </dict>
            <key>hammer_stop02.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{170,208}}</string>
                <key>offset</key>
                <string>{-16,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,65},{170,208}}</string>
                <key>sourceSize</key>
                <string>{366,298}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hammer.png</string>
            <key>size</key>
            <string>{448,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cf50b694d841ee04714fa1c06fb4bd4:61604a5f91d42a3c18ab274a6d79ac6c:18f5c8cea529c6ac2b89340e75a1e4ba$</string>
            <key>textureFileName</key>
            <string>hammer.png</string>
        </dict>
    </dict>
</plist>
