<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mouse2_hit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{218,162}</string>
                <key>spriteSourceSize</key>
                <string>{218,204}</string>
                <key>textureRect</key>
                <string>{{1,201},{218,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mouse2_hit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{218,162}</string>
                <key>spriteSourceSize</key>
                <string>{218,204}</string>
                <key>textureRect</key>
                <string>{{1,201},{218,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mouse2_hit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{218,162}</string>
                <key>spriteSourceSize</key>
                <string>{218,204}</string>
                <key>textureRect</key>
                <string>{{1,201},{218,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mouse2_normal_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{218,198}</string>
                <key>spriteSourceSize</key>
                <string>{218,204}</string>
                <key>textureRect</key>
                <string>{{1,1},{218,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mouse2_normal_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{218,198}</string>
                <key>spriteSourceSize</key>
                <string>{218,204}</string>
                <key>textureRect</key>
                <string>{{1,1},{218,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mouse2_normal_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{218,198}</string>
                <key>spriteSourceSize</key>
                <string>{218,204}</string>
                <key>textureRect</key>
                <string>{{1,1},{218,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mouse2.png</string>
            <key>size</key>
            <string>{220,364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8843244c50219a675c287179c7498c58:6e36fa18fe02cbcfa742ee742198517a:b37177a5259a20757eba5d2086dabbdc$</string>
            <key>textureFileName</key>
            <string>mouse2.png</string>
        </dict>
    </dict>
</plist>
