<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mouse1_hit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{218,190}</string>
                <key>spriteSourceSize</key>
                <string>{218,204}</string>
                <key>textureRect</key>
                <string>{{1,1},{218,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mouse1_hit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{218,190}</string>
                <key>spriteSourceSize</key>
                <string>{218,204}</string>
                <key>textureRect</key>
                <string>{{1,1},{218,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mouse1_hit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{218,190}</string>
                <key>spriteSourceSize</key>
                <string>{218,204}</string>
                <key>textureRect</key>
                <string>{{1,1},{218,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mouse1_normal_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{180,204}</string>
                <key>spriteSourceSize</key>
                <string>{218,204}</string>
                <key>textureRect</key>
                <string>{{221,1},{180,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mouse1_normal_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{180,204}</string>
                <key>spriteSourceSize</key>
                <string>{218,204}</string>
                <key>textureRect</key>
                <string>{{221,1},{180,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mouse1_normal_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{180,204}</string>
                <key>spriteSourceSize</key>
                <string>{218,204}</string>
                <key>textureRect</key>
                <string>{{221,1},{180,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mouse1.png</string>
            <key>size</key>
            <string>{426,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0d9a3a9be2cbabf9ebc9d3aec303207:6013fff483f6c00779636b39bc16585c:b21fc71babb9ceae111788d8d5f55242$</string>
            <key>textureFileName</key>
            <string>mouse1.png</string>
        </dict>
    </dict>
</plist>
