<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xingxing0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-33}</string>
                <key>spriteSize</key>
                <string>{78,26}</string>
                <key>spriteSourceSize</key>
                <string>{226,104}</string>
                <key>textureRect</key>
                <string>{{1,101},{78,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xingxing0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-18}</string>
                <key>spriteSize</key>
                <string>{96,30}</string>
                <key>spriteSourceSize</key>
                <string>{226,104}</string>
                <key>textureRect</key>
                <string>{{351,89},{96,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xingxing0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{120,34}</string>
                <key>spriteSourceSize</key>
                <string>{226,104}</string>
                <key>textureRect</key>
                <string>{{229,89},{120,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xingxing0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,9}</string>
                <key>spriteSize</key>
                <string>{152,40}</string>
                <key>spriteSourceSize</key>
                <string>{226,104}</string>
                <key>textureRect</key>
                <string>{{449,67},{152,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xingxing0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,14}</string>
                <key>spriteSize</key>
                <string>{186,64}</string>
                <key>spriteSourceSize</key>
                <string>{226,104}</string>
                <key>textureRect</key>
                <string>{{445,1},{186,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xingxing0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,9}</string>
                <key>spriteSize</key>
                <string>{214,86}</string>
                <key>spriteSourceSize</key>
                <string>{226,104}</string>
                <key>textureRect</key>
                <string>{{229,1},{214,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xingxing0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{226,98}</string>
                <key>spriteSourceSize</key>
                <string>{226,104}</string>
                <key>textureRect</key>
                <string>{{1,1},{226,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ballinpfx.png</string>
            <key>size</key>
            <string>{632,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3861ebd6838580f51721d5c0deb26f94:2bb93c9bac792aa27bd724f8b09a3e0f:7d0accf65b8253815a38b59bcfdd723d$</string>
            <key>textureFileName</key>
            <string>ballinpfx.png</string>
        </dict>
    </dict>
</plist>
