<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paiqiu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-41}</string>
                <key>spriteSize</key>
                <string>{282,335}</string>
                <key>spriteSourceSize</key>
                <string>{320,417}</string>
                <key>textureRect</key>
                <string>{{1,739},{282,335}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>paiqiu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-41}</string>
                <key>spriteSize</key>
                <string>{282,335}</string>
                <key>spriteSourceSize</key>
                <string>{320,417}</string>
                <key>textureRect</key>
                <string>{{275,372},{282,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paiqiu3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-41}</string>
                <key>spriteSize</key>
                <string>{282,335}</string>
                <key>spriteSourceSize</key>
                <string>{320,417}</string>
                <key>textureRect</key>
                <string>{{299,1},{282,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>toulan1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-41}</string>
                <key>spriteSize</key>
                <string>{282,335}</string>
                <key>spriteSourceSize</key>
                <string>{320,417}</string>
                <key>textureRect</key>
                <string>{{559,338},{282,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>toulan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-47}</string>
                <key>spriteSize</key>
                <string>{288,323}</string>
                <key>spriteSourceSize</key>
                <string>{320,417}</string>
                <key>textureRect</key>
                <string>{{843,338},{288,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>toulan3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-48}</string>
                <key>spriteSize</key>
                <string>{292,321}</string>
                <key>spriteSourceSize</key>
                <string>{320,417}</string>
                <key>textureRect</key>
                <string>{{338,709},{292,321}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>toulan4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-26}</string>
                <key>spriteSize</key>
                <string>{272,365}</string>
                <key>spriteSourceSize</key>
                <string>{320,417}</string>
                <key>textureRect</key>
                <string>{{1,372},{272,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>toulan5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-24}</string>
                <key>spriteSize</key>
                <string>{296,369}</string>
                <key>spriteSourceSize</key>
                <string>{320,417}</string>
                <key>textureRect</key>
                <string>{{1,1},{296,369}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>toulan6 .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-48}</string>
                <key>spriteSize</key>
                <string>{276,321}</string>
                <key>spriteSourceSize</key>
                <string>{320,417}</string>
                <key>textureRect</key>
                <string>{{867,1},{276,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>toulan7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-41}</string>
                <key>spriteSize</key>
                <string>{282,335}</string>
                <key>spriteSourceSize</key>
                <string>{320,417}</string>
                <key>textureRect</key>
                <string>{{583,1},{282,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-41}</string>
                <key>spriteSize</key>
                <string>{282,335}</string>
                <key>spriteSourceSize</key>
                <string>{320,417}</string>
                <key>textureRect</key>
                <string>{{661,675},{282,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-41}</string>
                <key>spriteSize</key>
                <string>{282,335}</string>
                <key>spriteSourceSize</key>
                <string>{320,417}</string>
                <key>textureRect</key>
                <string>{{661,675},{282,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-41}</string>
                <key>spriteSize</key>
                <string>{282,335}</string>
                <key>spriteSourceSize</key>
                <string>{320,417}</string>
                <key>textureRect</key>
                <string>{{661,675},{282,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{1144,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcf55248ca221428d868fe5adb94afdf:812e89484b6d8692785708eb75f2f30e:6f6c59c3c6b7e98e5fb22e47122cb74a$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
